@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.hello{
    background-color:rgba(255, 229, 165, 0.44);
    flex-direction: column ;
    align-items: center;
    width: auto;
    height: 100vh;
    display: flex;
    overflow-x: hidden;
    justify-content: center;
}
.TabbarDiv{
    display: flex;
    align-items: center;
    height: auto;
    width: auto;
    margin-top: 5%;
    position: relative;
    font: normal normal normal 32px/61px Poppins;
    color:#264653;
    justify-content: center;
}

.mazaydar{
    display: flex;
    height: 10vh;
    width: auto;
    position: relative;
    justify-content: center;
    /* transform: translate(-50%, -50%); */
}
/* .form-row{  
    width: 90%;
    position: absolute;
    left: 70%;
    top:50%;
    transform: translate(-50%, -50%);
} */

.firstdiv{
    display: flex;
    height: 75vh;
    justify-content: center;
    width: auto;
    position: relative;
}
.paragDiv{
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
    position: relative;
    align-items: center;
    font: normal normal normal 18px/27px Poppins;
    color:#264653;
}