@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.cardsProfile {
    background-color: white;
    padding:30px;
    border-radius: 14px;
    box-shadow: 10px 10px 10px 10px #00000014;
    padding: 40px 50px 93px 50px !important;
    text-align: center;
    height: auto;
    width: 75% !important;
    display: inline;
}