@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.loginbody{
background-color:white;
flex-direction: row;
width: 100vw;
height: 100vh;
display: flex;
overflow-x: hidden;
overflow-y:hidden;
}
.left-container {
display: flex;
height:100vh;
width: 50vw;
background-color:white;
}
.right-container{
display: flex;
height:100vh;
width: 50vw;
background-color:rgba(255, 229, 165, 0.44);
}
.tab-bar{
height: 5%;
}
.image-c{
width:70%;
position: relative;
top:15%;
height: auto;
}

.headingL{
margin-top: 1%;
height: 8%;
text-align: left;
width:50%;
font: normal normal normal 32px/61px Poppins;
}
.paragraphL{
position: relative;
width: 50%;
font: normal normal normal 18px/27px Poppins;
}
.Loginform{

height: 25%;

}
.left-div
{
display:flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 100%;
height: 100%;
color: #264653;
}
.right-div{
display:flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 100%;
height: 100%;
color:#264653;
}

.forgetPass{
display: flex;
position: relative;
justify-content: center;
top:22%;
right: -15%;
font: normal normal normal 14px/70px Poppins;
letter-spacing: -0.66px;

}

.signup{
display: flex;
position: relative;
top:8%;
font: normal normal normal 16px/25px Poppins;
color:#264653;
}

.admin-login{
display: flex;
position: relative;
justify-content: center;
align-items: center;
top:7%;
font : normal normal normal 16px/25px Poppins;
color:#264653;
}

.adminmodel{
border-bottom:1px solid #E76F51 ;
border-left: none;
border-right: none;
border-top: none;
background-color: transparent;
font: normal normal normal 16px/25px Poppins;
position: relative;
top:-18%;
color: #E76F51;
}

.heading-right{
display: flex;
justify-content: center;
position: relative;
top:-10%;
height: 2%;
font: normal normal normal 34px/51px Poppins;
color:#264653; 
}

.paragraph-right{
display: flex;
justify-content: center;
position: relative;
top:-5%;
font: normal normal normal 22px/27px Poppins;
color:#264653;
}

@media only screen and (max-device-width:540px) {
.right-container{
display: none;
}
.left-container{
width: 100vw;
}
.forgetPass{
top:28%;
left: 20%;
}
.admin-login{
top:15%;
}
.signup{
top:15%;
}
}
@media only screen and (min-device-width:1280px) and (max-device-width:1281px) {
.right-container{
display: none;
}
.left-container{
width: 100vw;
}
.forgetPass{
top:25%;
left: 10%;
}
}
@media only screen and (min-device-width:1023.5px) and (max-device-width:1024px) {
.right-container{
display: none;
}
.left-container{
width: 100vw;
}
.forgetPass{
position: relative;
top:40%;
left: 10%;
}
.admin-login{
top:17%;
}
.signup{
top:20%;
}
}

@media only screen and (min-device-width:800px) and (max-device-width:1023px) {
.right-container{
display: none;
}
.left-container{
width: 100vw;
}
.forgetPass{
top:17%;
}
}
@media only screen and (min-device-width:768px) and (max-device-width:800px) {
.right-container{
display: none;
}
.left-container{
width: 100vw;
}
.forgetPass{
top:19%;
}
}
@media only screen and (min-device-width : 390px) and (max-device-width : 414px) {
.right-container{
display: none;
}
.left-container{
width: 100vw;
}
.Loginform{
width: 100vw;
}
.forgetPass{
top:25%;
left: 27%;
}
}
@media only screen and (max-width : 375px) {
.right-container{
    display: none;
}
.left-container{
    width: 100vw;
}
.Loginform{
    width: 100vw;
}
.forgetPass{
    top:30%;
    left: 25%;
}
.admin-login{
    top:15%;
}
.signup{
    top:15%;
}
}
