$my-fontFamily: normal normal normal 19px/25px Poppins;
:export {
    myFont: $my-fontFamily;
}
.buttonsSignOut{
    background: #264653;
    font: normal normal medium 16px/25px Poppins !important;
    color:#fff;
    border-radius: 10px;
    border: 2px solid #fff;
    border:1px solid #264653; 
    cursor:pointer;
    width: 185px;
    height: 45px;
    margin-top: 10%;
}

.buttonsSignOut2{
    background: #fff;
    font: normal normal medium 16px/25px Poppins !important;
    color:#264653;
    border-radius: 10px;
    border: 2px solid #264653;
    border:1px solid #264653; 
    cursor:pointer;
    width: 185px;
    height: 45px;
    margin-top: 10%;
}