@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background: #FEFEFE 0% 0% no-repeat padding-box;
}

.left-container {
  align-items: center;
  top: 0px;
  left: -1px;
  width: 500px;
  height: 900px;
  background: #FEFEFE 0% 0% no-repeat padding-box;
  float:left; 
  opacity: 1;
  overflow: hidden;
}

input{
  top: 383px;
  left: 142px;
  width: 435px;
  height: 54px;
  font: normal normal normal 14px/21px Poppins;
  text-align: left;
  padding-left: 15px;
  vertical-align: middle;
  letter-spacing: -0.66px;
  color: #838E94;
  border: none;
  background: #FFF4D7 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 0.55;
}

.right-container {
  top: 0px;
  left: 760px;
  width: 900px;
  height: 900px;
  float:right;
  background: #FFE5A5 0% 0% no-repeat padding-box;
}

.heading1{
  color:#264653;
  position: absolute;
  font: normal normal normal 40px/21px Poppins;
  top: 111px;
  left: 1225px;
}
.paragraph1{
  color:#264653;
  position: absolute;
  font: normal normal normal 34px/21px Poppins;
  top: 165px;
  left: 1260px;
}
.image{
  top: 345px;
  left: 1200px;
  position:absolute;
  background: transparent 0% no-repeat padding-box;;
}
.content {
  top: 340px;
  left: 60px;
  right:1000px;
  width: 450px;
  height: 54px;
  display: inline;
  justify-content: center;
  margin: 5% auto;
  position: absolute;
}
.heading{
  position: absolute;
  font: normal normal normal 32px/21px Poppins;
  color: #264653;
  top: 166px;
  left:255px;

}
.paragraph{
  position: absolute;
  font: normal normal normal 18px/21px Poppins;
  color: #264653;
  top: 230px;
  left:255px;
}
.btn-box {
  top: 340px;
  left: 255px;
  display: inline;
  border-bottom: 1px solid #E4BF68;
  opacity: 1;
  position:absolute;
}

.btn-box button {
  top: 383px;
  left: 10px;
  right:1200px;
  outline:none;
  cursor:pointer;
  padding: 14px 16px;
  margin-right: 50px;
  font-size:20px;
} 

.sign-in {
  width: 450px;
  height: 54px;
  background: #264653 0% 0% no-repeat padding-box;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  opacity: 1;
  align-items: center;
  font: normal normal 600 16px/25px Poppins;
  color: #FFFFFF;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #FFFFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.wrapper { 
  width: 100%
}

.App-link {
  color: #61dafb;
}
.Orangebutton{
  color:#E76F51;
  font: normal normal normal 14px/21px Poppins;
  background: transparent;
  border-top: none;
  border-left:none;
  border-right:none;
  border-bottom:3px solid #E76F51;
  opacity: 1;
}
.greyButton
{
  color:#26465399;
  border-bottom:10px #26465399;
  font: normal normal normal 14px/21px Poppins;
  background: transparent;
  border-top: none;
  border-left:none;
  border-right:none;
}

@media screen and (max-width:1780px){
  .right-container {
    top: 0px;
    left: 760px;
    width: 900px;
    height: 900px;
    float:right;
    background: #FFE5A5 0% 0% no-repeat padding-box;
  }
  .content {
    top: 340px;
    left: 40px;
    right:1000px;
    width: 450px;
    height: 54px;
    display: inline;
    justify-content: center;
    margin: 5% auto;
    position: absolute;
  }
}
