@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background: #FEFEFE;
  height: 100vh;
}

.tabbar{
  position:relative;
  display:flex;
  top: 20%;
  left:20%;
}
.wrapper {
  display: flex;
  height:100vh;
}

.main-container{
  flex:50%;

}

.left-box{
 height:100vh;
  background: #FEFEFE;
}

.right-box{
  float:right;
  height: 100vh;
  background: #FFE5A5 
  /* 0% 0% no-repeat padding-box; */
}


@media screen and (max-width: 600px) {
  .main-container{
    width: 100%;
  }
  .left-box{
    width: 100%;
     background: #FEFEFE;
   }
   .right-box{
    width: 100%;
    background: #FFE5A5 0% 0% no-repeat padding-box;
  }
  
}

.heading{
  position:relative;
  font: normal normal normal Poppins;
  font-size:3vw;
  color: #264653;
  top: 15%;
  left:15%;
}

.paragraph{
  position: relative;
  font: normal normal normal Poppins;
  color: #264653;
  font-size:2vw;
  top: 17%;
  left:15%;
}

.content {
  top: 340px;
  left: 60px;
  right:1000px;
  width: 450px;
  height: 54px;
  display: inline;
  justify-content: center;
  margin: 5% auto;
  position: absolute;
}

.sign-in {
  width: 30vw;
  height: 10vh;
  background: #264653 0% 0% no-repeat padding-box;
  border-radius: 3%;
  display: flex;
  justify-content: center;
  opacity: 1;
  align-items: center;
  font: normal normal 600 16px/25px Poppins;
  color: #FFFFFF;
}

.heading1{
  color:#264653;
  position: relative;
  font: normal normal normal Poppins;
  font-size:3vw;
  top:5%;
  left:15%;
}

.paragraph1{
  color:#264653;
  position: relative;
  font: normal normal normal Poppins;
  font-size: 2vw;
  top:7%;
  left:23%;
}
.image{
  top:30%;
  left:10%;
  width:40vw;
  position:relative;
  background: transparent 0% no-repeat padding-box;
}



input{
  top: 40%;
  left: 40%;
  width: 30vw;
  height: 10vh;
  font: normal normal normal Poppins;
  font-size: 3rem;
  text-align: left;
  padding-left: 10%;
  vertical-align: middle;
  letter-spacing: -0.66px;
  color: #838E94;
  border: none;
  background: #FFF4D7 0% 0% no-repeat padding-box;
  border-radius: 7%;
  opacity: 0.55;
}

.bottom-text{
  padding-top: 3%;
  position:relative;
  top: 70%;
  left: 20%;
  text-align: left;
  font: normal normal normal Poppins;
  font-size: 1.3vw;

  opacity: 1;
}

.lin{
  padding-top: 3%;
  position:relative;
  top: 70%;
  text-align: left;
  text-decoration: underline;
  font: normal normal normal Poppins;
  color: #E76F51;
}