@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.buttons1{
    border: none;
    font: normal normal normal 16px/61px Poppins;
    margin:10px;
    background:transparent;
    cursor:pointer;
}
.buttons2{
    background: #264653;
    font: normal normal normal 12px/18px Poppins;
    color:#fff;
    border-radius: 10px;
    border: none;
    padding: 5px 20px 5px 20px;
    margin: 10px;
    cursor:pointer;
}
.orangeColor{
        color:#E76F51;
}
.greenColor{
    color:#264653;
}