@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.cardsNew {
    background-color: white;
    width:auto;
    height:auto;
    padding:30px;
    border-radius: 14px;
    box-shadow: 10px 10px 10px 10px #00000014;
    padding: 40px 50px 93px 50px !important;
    text-align: left;
}

label {
    float: left;
    padding-left: 10px;
    color:#838D94;
}

.newInput {
    background: #E9C46A
}

.buttonsNew{
    background: #264653;
    font: normal normal normal 14px/25px Poppins;
    color:#fff;
    border-radius: 10px;
    border: 2px solid #fff;
    padding: 5px 20px 5px 20px;
    border:1px solid #264653; 
    cursor:pointer;
    width: 450px;
    height: 54px;
    /* margin-bottom: 24px; */
    margin-top: 10%;
    /* margin-left: -40%; */
    /* position: relative; */
}

form .form-controlNew{
    background-color: #E9C46A 0% 0% no-repeat padding-box;
    border-color: #FFFFFF;
    box-shadow: none;
    box-sizing: none;
}

.form-group {
    /* background: #FFFFFF 0% 0% no-repeat padding-box; */
    /* align-items: center; */
    position:relative;
    width: 450px;
    height: 54px;
    border-radius: 10px;
    margin-bottom: 24px;
    padding: 25px;
    color: #E9C46A;
    font-family: "Poppins";
    font-size: 14px/21px;
    letter-spacing: -0.66px;
    box-shadow: none;
    border-color: none;
    border-width: 0px;
    box-sizing: none;
}
